<h2><%= @thread.title %></h2>

<%= text_to_html(@thread.body) %>

<p>by <%= @thread.user.name %></p>

<h2>replies</h2>

<%= for reply <- @thread.replies do %>
  <%= text_to_html(reply.body) %>
  <p>by <%= reply.user.name %></p>
<% end %>
