<h1>Edit User</h1>

<%= form_for @changeset, user_path(@conn, :update, @user), fn f -> %>
  <label>名前</label>
  <%= text_input f, :name %>
  <%= error_tag f, :name %>
  <br>

  <label>所持金</label>
  <%= text_input f, :money %>円
  <%= error_tag f, :money %>
  <br>

  <%= submit "送信" %>
<% end %>
