<div class="row marketing">
  <input type="text" id="new-message"><button id="send-message">発言</button>

  <h4>ログ</h4>
  <ul id="messages">
  </ul>
  <%= render PhxAppWeb.SharedView, "pr.html" %>
</div>
</div>
